.App {
  background-color: #EFF6F5;
}

.NavTab {
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: #ECF5F3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div.shadow {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 24px #bbb;
  background: #fff;
  color: #666;
}